
@{
    ViewBag.Title = "Complaints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complaint Form</h2>

<form action="" class="formComplaint needs-validation" novalidate>

    <div class="form-group">
        <label for="productSelect">Select the item</label>
        <select name="productSelect" id="productSelection" class="form-control" required>
            <option value="shoeID"> Shoe Pink Large</option>
            <option value="shoeID"> Shoe Blue Medium</option>
            <option value="shoeID"> Shoe Red Small</option>
        </select>
        <div class="invalid-feedback"> please select one of the items </div>
        <div class="valid-feedback"> please select one of the items </div>
    </div>

    <div class="form-group">
        <label for="thing1">Thingy 1</label>
        <input type="text" name="thing1" class="form-control " required/>
        <div class="invalid-feedback"> please fill this field </div>
        <div class="valid-feedback"> very well </div>
    </div>
    <div class="form-group">
        <label for="thing2">Thingy 2</label>
        <input type="text" name="thing2" class="form-control" />
    </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>
<script>

    var form = document.querySelector('.needs-validation');

    form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    })
</script>

