
@{
    ViewBag.Title = "Complaints";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Complaint Form</h2>

<form id="formComplaint" action="/api/complaint" method="post" class="formComplaint needs-validation" novalidate>

    <div class="form-group">
        <label for="productSelect">Select the item</label>
        <select name="productSelect" id="productSelection" class="form-control" required>
        </select>
        <div class="invalid-feedback"> please select one of the items </div>
        <div class="valid-feedback">  </div>
    </div>

    <div class="form-group">
        <label for="reasonSelect">Reason why you returning the item</label>
        <select name="reasonSelect" id="reasonSelection" class="form-control" required>
            <option value="1"> Incorrent size</option>
            <option value="2"> Don`t like the colour</option>
            <option value="3"> Don`t like the style</option>
            <option value="4"> Other</option>
        </select>
        <div class="invalid-feedback"> please select one of the items </div>
        <div class="valid-feedback">  </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" rows="4"   class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>

@section scripts {
<script src="~/Scripts/formScripts.js"></script>
}

